.condo-creation-form-container {
  display: inline-block;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--color4);
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 5px;
  width: 50%;
}

.condo-creation-form-container form {
  display: flex;
  flex-direction: column;
}

.condo-creation-form-container h1,
.condo-creation-form-container h2 {
  margin: 0;
}

.condo-creation-form-container h2 {
  margin-bottom: 10px;
}

.condo-creation-form-container form input {
  margin: 0;
  background-color: var(--color4);
  color: var(--color1);
  width: 100%;
  padding: 0.4rem;
  border-radius: 5px;
}

.condo-creation-wrapper {
  padding: 0.4rem;
}
.condo-creation-form-container form input::placeholder {
  color: var(--color1);
}

.extra-information-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid var(--color4);
  border-radius: 4px;
  resize: vertical;
  overflow-y: hidden;
  outline: 0;
  margin-bottom: 10px;
}

.extra-information-textarea::placeholder {
  color: var(--color4);
}

.condo-creation-form-container form button {
  background-color: var(--color4);
  color: var(--color1);
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
}

.condo-creation-form-container form button:hover {
  cursor: pointer;
}

.condo-error-message {
  color:red;
}