.condo-info-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.condo-img {
  border-radius: 20px;
}

.condo-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: "space-between";
}
.condoProfileContainer,
.condoFilesContainer {
  width: 600px;
  padding: 20px;
  border: 1px solid var(--color4);
  background: var(--color1);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.input-container {
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
  background: var(--color1);
  border: 0.5px solid var(--color4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.pay-btn-container {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 10px;
  background: var(--color1);
}

.payButton {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: var(--color1);
  align-self: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  background: var(--color3);
  border: 1px solid var(--color3);
  margin: 0 0.4rem;
}
