.condo-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: "space-between";
  padding: 20px;
}

.condo-img {
  border-radius: 20px;
}

.condo-data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: "space-between";
}
.condoProfileContainer,
.condoFilesContainer {
  width: 600px;
  padding: 20px;
  border: 1px solid var(--color4);
  background: var(--color1);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.input-container {
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
  background: var(--color1);
  border: 0.5px solid var(--color4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
