.table-container {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--color4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

td {
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

h1 {
    text-align: center;
}
