
.user-profile-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #122797, #8da9e7);
    height: 100vh; 
  }

.myprofile-container, .properties-and-requests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    padding: 3rem; 
    height: 100vh;
}

.properties-and-requests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    padding: 3rem; 
    height: 100vh; 
}

.myprofile-content {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70%; 
    padding: 4rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}

.properties-content,
.requests-content {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70%; 
    padding: 4rem;
    height: 24%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.requests-content {
    margin-top: 2%
}

.properties-content {
    margin-bottom: 2%
}