/* PropertyListPageStyle.css */
.property-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* Add some padding for spacing */
}

.properties-container {
  display: flex;
  flex-wrap: wrap; /* Allow properties to wrap to next line if needed */
  justify-content: center;
  margin-top: 2rem; /* Add some top margin for spacing */
}

.property-wrapper {
  display: inline-block;
}

.property-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; /* Adjust margin for spacing */
  padding: 1rem; /* Add padding for spacing */
  border: 1px solid #ccc; /* Border for each property */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Shadow around each property */
}

.property-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.property-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.property-address {
  font-size: 14px;
}

.property-rep {
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; /* Adjust top margin */
}

.scroll-button {
  background-color: transparent; /* Set button background color to transparent */
  color: var(--color4); /* Set button color to match color scheme */
  padding: 5px; /* Add padding for spacing */
}

.scroll-button:hover {
  background-color: var(--color2); /* Set hover background color to transparent */
  color: var(--color4); /* Set hover color to match color scheme */
}

.nav-icon {
  font-size: 24px; /* Adjust icon size */
}

/* .prev-button {
  align-self: flex-start;
}

.next-button {
  align-self: flex-end;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .properties-container {
    width: 90%; 
  }
}