.notifications-heading {
  font-size: 1.5rem;
  color: var(--color4);
  margin-bottom: 15px;
  margin-top: -100px;
}

.notifications-box {
  margin: 5% 10%; /* Adjust as necessary */
  padding: 20px;
  background: var(--color1);
  box-shadow: 3px 3px 3px var(--color5) (0.5, 0.5, 0.5, 0.5);
  border-radius: 10px;
  border: 1px solid var(--color5);
  width: 430%; /* Adjust as necessary */
  max-width: 800px; /* Adjust as necessary */
  height: 300px; /* Adjust as necessary */
  position: relative; /* Required for absolute positioning */
}

.notification-container {
  position: absolute;
  bottom: 50px; /* Adjust as necessary */
  top: 0;
  left: 20px;
  right: 20px;
  overflow-y: auto;
}

.notification-item {
  position: relative;
  padding: 10px 0;
  color: var(--color4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%; /* Adjust the space on the left */
  right: 0%; /* Adjust the space on the right */
  height: 1px;
  background: var(--color5);
}

.close-btn {
  border: none;
  background-color: transparent;
  color: var(--cancel);
  cursor: pointer;
  font-size: 2rem; /* Adjust the font size */
}

.close-btn:hover {
  color: var(--cancel);
}

.close-btn.checked {
  color: var(--color6); /* Green color */
}
