.registration-and-login-content-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  width: 70%;
  padding: 20px;
  border: 1px solid var(--color4);
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  background: var(--color4);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--color4);
  box-shadow: none;
}
.input-with-icon input:focus {
  border: none;
  outline: none;
}
.input-with-icon img {
  margin-right: 10px;
  height: 20px;
}

.input-with-icon input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.input-with-icon input::placeholder {
  color: white;
}

.success-msg {
  color: green;
}

.registration-and-login-button {
  border-radius: 8px;
  background: var(--color3);
  width: 100%;
  border: none;
  box-shadow: 3px 4px 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--color1);
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.registration-and-login-button:hover {
  background-color: var(--color4);
  color: white;
}

.employee-table {
  width: 70%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.employee-table h2 {
  margin-bottom: 10px;
}

.input-with-icon select {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  appearance: none;
  padding: 8px;
  border-radius: 8px;
}

.input-with-icon select::-ms-expand {
  display: none;
}

.registration-user-type {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.registration-user-type label {
  color: var(--color4);
  margin-right: 10px;
}

.registration-user-type select {
  background: var(--color1);
  border: 2px solid var(--color4);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-grow: 1;
}

.registration-user-type select option {
  background: var(--color4);
  color: white;
}

.registration-user-type select {
  outline: none;
  border: 2px solid var(--color4);
  color: var(--color4);
}
