.registration-and-login-content-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-with-icon {
  display: flex;
  align-items: center;
  background: var(--color1);
  padding: 8px;
  border-radius: 10px;
  border: 2px solid var(--color4);
}

.input-with-icon img {
  margin-right: 10px;
  height: 20px;
}

.input-with-icon input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  outline: none;
}

.input-with-icon input:focus {
  border: none;
  outline: none;
}
.input-with-icon input::placeholder {
  color: white;
}

.input-border-error {
  border: 2px solid red;
}

.registration-and-login-button {
  border-radius: 255px;
  background: var(--color3);
  width: 100%;
  border: none;
  box-shadow: 3px 4px 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--color1);
  font-size: 15px;
  font-weight: 700;
  padding: 8px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.registration-and-login-button:hover {
  background-color: var(--color4);
  color: white;
  cursor: pointer;
}

.registration-and-login-to-eachother {
  color: var(--color4);
  text-align: center;
}

.registration-and-login-to-eachother span {
  color: var(--color4);
}

.registration-and-login-to-eachother span:hover {
  color: var(--color4);
  text-decoration: underline;
}
