.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-password-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.reset-password-information-content {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 70%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color3);
}

.reset-password-information-content h2 {
  text-align: center;
  color: var(--color1);
}

@media only screen and (max-width: 1200px) {
  .reset-password-container {
    flex-direction: column;
  }
  .reset-password-information-container {
    width: 100%;
  }

  .reset-password-information-content {
    width: 90%;
    padding: 2rem;
    max-width: 500px; /* Adjust the maximum width as needed */
  }
}

.input-with-icon {
  display: flex;
  align-items: center;
  background: var(--color4);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 3px 4px 1px 1px rgba(0, 0, 0, 0.25);
}

.input-with-icon img {
  margin-right: 10px;
  height: 20px;
}

.input-with-icon input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.input-with-icon input::placeholder {
  color: white;
}

.input-border-error {
  border: 2px solid red;
}

.reset-password-button {
  border-radius: 255px;
  background: var(--color4);
  width: 100%;
  border: none;
  box-shadow: 3px 4px 1px 1px rgba(0, 0, 0, 0.25);
  color: var(--color2);
  font-size: 15px;
  font-weight: 700;
  padding: 8px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.reset-password-button:hover {
  background-color: var(--color2);
  color: white;
  cursor: pointer;
}
