/* PropertyInfoFormStyle.css */
.property-form-container h2 {
  color: var(--color4);
  margin-bottom: 15px;
  margin-top: -10px;
}

/* buttonsStyles.css */
.edit-button,
.edit-mode-button,
.cancel-button,
.view-condo-files-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: var(--color1);
  align-self: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  margin: 0 0.2rem;
}

.edit-button {
  background: var(--color3);
  border: 1px solid var(--color3);
}
.view-condo-files-button {
  background: var(--color3);
  border: 1px solid var(--color3);
}
.edit-mode-button {
  background: var(--color3);
  border: 1px solid var(--color3);
}

.cancel-button {
  background: var(--cancel);
  border-color: var(--cancel);
  margin-left: 10px;
}

.buttons-container {
  text-align: center;
}
