.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #6aa6ff;
}

ul {
    list-style-type: none;
}

.nav-menu {
    display: flex;
}

.nav-item {
    padding: 1rem;
}

a {
    color: var(--text-primary);
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* If screen size is big do not display hamburger */
.hamburger {
    display: none;
}

@media screen and (max-width: 940px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        justify-content: center;
        background-color: #6aa6ff;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.4s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem;
        font-size: 1.8rem;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}