.employee-landing-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  border: 1px solid var(--color4);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(194, 193, 193);
  text-align: center;
}

.condo-employee-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 1rem;
}

.condo-employee-heading h2 {
  flex: 1; /* Take up remaining space */
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text */
}

.condo-employee-heading button {
  color: var(--color1);
  background-color: var(--color3);
  outline: none;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem;
  position: relative;
}
.condo-employee-heading button:hover {
  cursor: pointer;
  background-color: var(--color4);
}
