/* CondoProfileLandingPage.css */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
 /* This ensures that the container takes at least the full viewport height */
  padding-top: 100px; /* This adds space around the .condoProfileContainer, acting like a space for header and footer */
  padding-bottom: 100px;
}

.condoProfileContainer {
  width: 600px; /* Removed the quotes around the value */
  padding: 20px;
  border: 1px solid #515151; /* Change color as needed */
  background: #eeedeb; /* Set background color to match the form */
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* This adds a slight shadow to the form */
  margin: auto;
  height: auto;
}

.condoProfileContainer h2 {
  color: #474747; /* Change as needed */
  margin-bottom: 15px; /* Space below the title */
  margin-top: -10px;
}


.input-label, 
.condoProfileContainer input[type="text"] {
  font-size: 16px;
}

.condoProfileContainer input[type="text"] {
  flex: 1;
  color: #666;
  border-radius: 4px;
  border: -10px hidden #ccc;
  background: #eeedeb;
  text-align: end;
  
}

.editButton {
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #747264;
  color: #fff;
  border: 1px solid #747264;
  width: 65px;
  margin-top: 0;
  align-self: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.condoProfileContainer button[type="button"] {
  background: #fa0202; /* Cancel button color */
  
}


.editModeButton, .cancelButton {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #57595b;
  color: #fff;
  border: 1px solid #5a5a5c;
  align-self: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

/* Style for the container of the input */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
  background:#eeedeb; /* Set background color to match the form */
  border: 0.5px solid #515151;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  /* Set background color to match the form */

}

/* Style for the buttons */
.buttons-container {
  text-align: center;
}

.cancelButton {
  background: #f90303; /* Cancel button color */
  border-color: #f80505;
  align-self: center;
  margin-left: 10px;
}

.editModeButton {
  background: #747264; /*  button color */
  border-color: #747264;
  align-self: center;
}

/* Style for the label span */
.input-label {
  
  color: #666;

  
}

/* Style for the value span */
.input-value {
  color: #666;
}

/* Ensure labels and inputs align properly */
.input-label, .editModeInput, .input-value {
  box-sizing: border-box;
}
/* Add any additional styles for specific elements as needed */
