.employee-requests-landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.employee-requests-key-generation {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .employee-requests-landing-page-container {
    flex-direction: column;
  }

  .employee-requests-key-generation {
    width: 100%;
  }
}
