.employee-requests-landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.employee-requests-key-generation,
.employee-requests-user-list {
  width: 50%;
}
