.hero {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1240px;
  padding: 0 1rem;
  margin: auto;
}

.hero .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col-1 {
  padding: 1rem 1rem 1rem 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-1 h1 {
  font-size: 3rem;
  font-weight: 700;
}

.col-1 p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1.2rem;
}

.col-2 {
  padding: 1rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

/* for tablets and under */
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    width: 100%;
  }

  .hero .container {
    padding: 0 1rem;
  }

  .hero .content {
    grid-template-columns: 1fr;
  }

  .col-1 {
    height: 90vh;
    padding: 0.2rem;
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero .col-2 {
    display: none;
  }
}
