.key-generation-container {
  border: 2px solid var(--color4);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 3rem;
}

.key-generation-header h2 {
  margin: 0;
}

.key-generation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.key-generation-content > * {
  margin: 1rem;
}
.key-generation-user-result {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--color4);
  border-radius: 5px;
  padding: 0 1rem;
}

.key-generation-user-result p {
  color: var(--color4);
}

.key-generation-two-buttons {
  display: flex;
  justify-content: space-between;
}

.key-generation-two-buttons button {
  background-color: var(--color4);
  color: var(--color1);
  width: 220px;
  height: 60px;
}

.key-generation-submission button {
  width: 100%;
  text-align: center;
  background-color: var(--color4);
  color: var(--color1);
  height: 60px;
}

.key-generation-submission button:hover,
.key-generation-two-buttons button:hover {
  cursor: pointer;
}
